.thing{ 
  width:100%;
  float:left;
  }
  .inner-thing{
    padding: 10px;
  }
.rank{
  float: left;
  color: #c6c6c6;
  text-align: right;
  width: 25px;
  margin-top: 17px;
  font-size: medium;
}
.voting{
  float: left;
  width:35px;
  text-align: center;
  margin: auto;
  font-weight:bolder;
  }
  .voting .arrow{
    display:block;
    height:15px;
    width:15px;
    overflow:hidden;
    text-indent:15px;
    margin:auto;
  }
  .voting .arrow.down{ background:url(../img/sprite-reddit.png) no-repeat 0px -616px; }
  .voting .arrow.downmod{ background:url(../img/sprite-reddit.png) no-repeat -16px -616px; }
  .voting .arrow.up{ background:url(../img/sprite-reddit.png) no-repeat -32px -616px; }
  .voting .arrow.upmod{ background:url(../img/sprite-reddit.png) no-repeat -48px -616px; }
  .voting .score{
    margin:3px 0;
    display:block;
    color:#c6c6c6;
  }
.thing .dislikes .score,
.vote-action.downmod{
  color:#9494FF;
}
.thing .likes .score,
.vote-action.upmod{
  color:#FF8B60;
}
.unvoted div.score.dislikes,
.unvoted div.score.likes {
  display: none;
}
.likes div.score.dislikes,
.likes div.score.unvoted {
  display: none;
}
.dislikes div.score.likes,
.dislikes div.score.unvoted {
  display: none;
}
.vote-action,
.score {
  display: inline;
}
.vote-action {
  cursor: pointer;
}
.thumb,
.thumb .default,
.thumb .self,
.thumb .nsfw{
  float:left;
  min-height:50px;
  width:70px;
  }
  .thumb .nsfw{
    min-height:70px;
  }
  .thumb img{
    max-width:100%;
  }
.thumb .default{
  background:url(../img/sprite-reddit.png) no-repeat 0 -370px;
  }
.thumb .self{
  background:url(../img/sprite-reddit.png) no-repeat 0px -421px;
  }
.thumb .nsfw{
  background:url(../img/sprite-reddit.png) no-repeat 0px -299px;
  }
.no-pic{
  float:left;
}
.entry{
  overflow:auto;
  padding-left: 5px;
  line-height: 1.4em;
}
.entry .title{
  font-size:medium;
  }
  .entry .title:hover{
    text-decoration: none;
  }
.entry .tagline{
  margin:0;
  font-size:smaller;
}
.entry ul.buttons{
  padding:0;
  margin:0;
}
.entry ul li{
  list-style: none;
  list-style-image: none;
  display:inline;
  background:none;
  padding:0;
  margin:0 10px 0 0;
  font-weight:bolder;
  cursor: pointer;
  white-space:nowrap;
  font-size:smaller;
}
.entry ul li a{
  color:#888;
}
.entry .domain{
  color:#888;
  padding-left:10px;
}
.entry .domain a{
  color:#888;
  font-size:smaller;
  display:inline;
}